<h6 class="text-center">Question List</h6><br/>
<!-- <table class="table table-sm table-hover">
  <thead>
    <tr>
      <th scope="col">Season</th>
      <th scope="col">Question</th>
      <th scope="col">Answer <button (click)="showAnswers = !showAnswers" type="button" class="btn btn-primary btn-sm">Show All</button></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let question of questionList">
      <td>{{question.season}}</td>
      <td>{{question.question}}</td>
      <td *ngIf="showAnswers == true">{{question.answer}}</td>
      <td>
        <a class="btn" (click)="onEdit(question)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(question.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
    </tr>
  </tbody>
</table> -->

<div style="margin-bottom: 5px;">
  <button *ngIf="showAnswers == false" (click)="showAnswers = !showAnswers" type="button" class="btn btn-primary btn-sm">Show Answers</button>
  <button *ngIf="showAnswers == true" (click)="showAnswers = !showAnswers" type="button" class="btn btn-primary btn-sm">Hide Answers</button>
</div>

<div *ngFor="let question of questionList; index as i">
  <div class="accordion">
    <div class="card">
      <div class="card-header" id="'headingOne' + i">
        <h5 class="mb-0">
          <button class="btn collapsed" (click)="onEdit(question)" type="button" data-toggle="collapse" data-target="'#collapseOne' + i" aria-expanded="true" aria-controls="'collapseOne' + i">
            Question {{ i + 1}}
          </button>
          <a class="btn" (click)="onDelete(question.$key)">
            <i class="fa fa-trash-o"></i>
          </a>
        </h5>
      </div>

      <div id="'collapseOne' + i" class="collapse show" aria-labelledby="'headingOne' + i" data-parent="#accordionExample">
        <div class="card-body">
          <p><b>Season:</b> {{question.season}}</p>
          <p><b>Question:</b> {{question.question}}</p>
          <p *ngIf="showAnswers == true"><b>Answer:</b> {{question.answer}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div *ngFor="let question of questionList">
  <p><b>Season:</b> {{question.season}}</p>
  <p><b>Question:</b> {{question.question}}</p>
  <p><b>Answer:</b> {{question.answer}}</p>
</div> -->

