<h6 class="text-center">Question List</h6><br/>
<table class="table table-sm table-hover">
  <tr *ngFor="let question of questionList">
      <td>{{question.season}}</td>
      <td>{{question.question}}</td>
      <td>{{question.answer}}</td>
      <td>
        <a class="btn" (click)="onEdit(question)">
          <i class="fa fa-pencil-square-o"></i>
        </a>
        <a class="btn" (click)="onDelete(question.$key)">
          <i class="fa fa-trash-o"></i>
        </a>
      </td>
  </tr>
</table>
