<div *ngIf="qCount != 0">
  <div class="text-center">
    <h2 class="jumbotron">Office Trivia!</h2>
    <div *ngIf="!numberSubmitted" style="margin: 0 auto; width: 43%" class="container">
      <form #numForm="ngForm" (ngSubmit)="numSubmit(numForm)" class="form">
        <div class="form-group mx-sm-5 mb-10">
          <label><h2>How many questions?</h2></label>
          <input type="text" name="num" [(ngModel)]="num" class="form-control form-control-lg" id="inputNumber" placeholder="Question Number">
        </div>
        <button type="submit" class="btn btn-primary">Confirm</button>
      </form>
    </div>
  </div>

  <div *ngIf="numberSubmitted" class="row">
    <div class="col-md-12">
      <h4>Question: {{qNbr + 1}} / {{ qTotal }}</h4>
      <h2>
        <p>{{currentQuestion}}</p>
      </h2>
    </div>
    <div class="col-md-12">
      <form #answerForm="ngForm" (ngSubmit)="onSubmit(answerForm)">
        <div class="form-group">
          <input class="form-control" type="password" name="answer" ngModel placeholder="Answer" required>
        </div>
        <div class="form-group">
          <button style="margin-right: 5px;" class="btn btn-default" type="submit" [disabled]="!answerForm.valid">
            <i class="fa fa-floppy-o"></i>
              Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="qCount == 0">
  <div class="row">
    <div class="col-md-2">
      <h1>Correct: {{ correct }}</h1>
    </div>
    <div class="col-md-8">
      <div *ngFor="let final of finalList; index as i">
        <div class="accordion">
          <div class="card">
            <div class="card-header" id="'headingCardOne' + i">
              <h5 class="mb-0">
                <button class="btn collapsed" (click)="undo(i)" id="headingButton{{i}}" type="button" data-toggle="collapse" data-target="'#collapseOne' + i" aria-expanded="true" aria-controls="'collapseOne' + i">
                  Question {{ i + 1}}
                </button>
                <a id="b-wrong" (click)="wrong(i)" class="btn pull-right">
                  <i class="fa fa-close"></i>
                </a>
                <a (click)="right(i)" id="b-right" class="btn pull-right">
                  <i id="b-right"  class="fa fa-check"></i>
                </a>
              </h5>
            </div>

            <div id="'collapseOne' + i" class="collapse show" aria-labelledby="'headingOne' + i" data-parent="#accordionExample">
              <div class="card-body">
                <p><b>Question:</b> {{final.question}}</p>
                <p><b>My Answer:</b> {{final.myAnswer}}</p>
                <br>
                <p><b>Answer:</b> {{final.answer}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <h1>Incorrect: {{ incorrect }}</h1>
    </div>
  </div>
</div>



